{% extends "common/emails/base.html" %}

{% load i18n %}

{% block content %}
    <!-- 1 Column Text + Button : BEGIN -->
    <tr>
        <td bgcolor="#ffffff">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                        <h1 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 24px; line-height: 27px; color: #333333; font-weight: normal;">Запит на книгу</h1>
                        <p style="margin: 0;">
                            <strong>{{ book.current_owner.get_full_name }}</strong>, користувач <a href="{{ BASE_URL }}{{ user.get_absolute_url }}"><strong>{{ user.get_full_name }}</strong></a> хоче взяти прочитати книгу, яка зараз знаходиться у вас: <a href="{{ BASE_URL }}{{ book.get_absolute_url }}">{{ book.name }}</a></p>
                    </td>
                </tr>
                <!-- button code-->
            </table>
        </td>
    </tr>
    <!-- 1 Column Text + Button : END -->

    <!-- 2 Even Columns : BEGIN -->
    <tr>
        <td bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%" style="padding-bottom: 40px">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:560px;">
                <tr>
                    <td align="center" valign="top" width="50%">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                            <tr>
                                <td style="text-align: center; padding: 0 10px;">
                                    {% comment %}
                                        {{ BASE_URL }}{{ book.photo.url }}
                                        {{ BASE_URL }}{{ user.avatar.url }}
                                    {% endcomment %}
                                    <a href="{{ BASE_URL }}{{ book.get_absolute_url }}">
                                        <img src="http://placehold.it/200" width="200" height="" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 200px; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding: 10px 10px 0;" class="stack-column-center">
                                    <h3>{{ book.name }}</h3>
                                    <p style="margin: 0;">{{ book.description|truncatewords:15 }}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="center" valign="top" width="50%">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="font-size: 14px;text-align: left;">
                            <tr>
                                <td style="text-align: center; padding: 0 10px;">
                                    <a href="{{ BASE_URL }}{{ user.get_absolute_url }}">
                                        <img src="http://placehold.it/200" width="200" height="" alt="alt_text" border="0" align="center" style="width: 100%; max-width: 200px; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding: 10px 10px 0;" class="stack-column-center">
                                    <h3>{{ user.get_full_name }}</h3>
                                    <p style="margin: 0;">{{ user.about|striptags|truncatewords:15 }}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- Two Even Columns : END -->

    <tr>
        <td bgcolor="#ffffff">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 21px; color: #333333; font-weight: bold;">
                            Дані для відправки книги:
                        </h2>

                        <p style="margin: 0;">
                            <ul class="crenadials">
                                <li>
                                    <span style="font-weight:bold">Ім'я, Прізвище:</span>
                                    <p>{{ book_reading.full_name }}</p>
                                </li>
                                <li>
                                    <span style="font-weight:bold">Телефон:</span>
                                    <p>{{ book_reading.phone }}</p>
                                </li>
                                <li>
                                    <span style="font-weight:bold">Місто:</span>
                                    <p>{{ book_reading.city }}</p>
                                </li>
                                <li>
                                    <span style="font-weight:bold">Номер відділення:</span>
                                    <p>{{ book_reading.novaposhta_number }}</p>
                                </li>
                            </ul>
                        </p>
                        <p style="margin:0;">
                            {% blocktrans %}
                                Натисніть кнопку "Підтверджую", щоб точно ми знали, що ви побачили це повідомлення і надішлете книгу Новою Поштою найближчим часом (1-2 дні).
                            {% endblocktrans %}
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td bgcolor="#ffffff">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                <tr>
                    <td style="padding: 0 40px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                        <!-- Button : BEGIN -->
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                            <tr>
                                <td style="border-radius: 3px; background: #222222; text-align: center;" class="button-td">
                                    <a href="{{ BASE_URL }}{% url 'book:email-owner-confirm' pk=book_reading.pk email=user.email token=user.get_token %}" style="background: #222222; border: 15px solid #222222; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;" class="button-a">
                                        <span style="color:#ffffff;" class="button-link">Підтверджую</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <!-- Button : END -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" aria-hidden="true" height="40" style="font-size: 0; line-height: 0;">
            &nbsp;
        </td>
    </tr>

    <!-- Clear Spacer : BEGIN -->
    <tr>
        <td aria-hidden="true" height="40" style="font-size: 0; line-height: 0;">
            &nbsp;
        </td>
    </tr>
    <!-- Clear Spacer : END -->
{% endblock content %}
