{% extends "base_bottom.html" %}

{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="header-content text-center">
                        <div class="header-content-inner ">
                            <img src="{% static "img/landing/logo.png" %}" class="visible-md visible-lg">
                            <img src="{% static "img/landing/logo-small.png" %}" class="visible-xs visible-sm">

                            <h1>{% trans "Онлайн платформа для обміну книгами, де кожен може поділитись хорошою книгою" %}</h1>
                            <hr>
                            {% block messages %}
                                {{ block.super }}
                            {% endblock messages %}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="text-center">
                    <a href="#main" class="page-scroll scroll-icon"><span></span><span></span><span></span></a>
                </div>
            </div>
        </div>
    </header>

    <section id="main" class="main bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Як це працює?</h2>
                    <hr>
                </div>
                <div class="how-works col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="{% static "img/landing/art1.png" %}">
                        <h3 class='delighted'>{% trans "Додай книгу" %}</h3>
                        <p>{% trans "Отримай 3 можливості за кожну додану <span class='delighted'>книгу</span>" %}</p>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="{% static "img/landing/art2.png" %}">
                        <h3 class='delighted'>{% trans "Візьми книгу" %}</h3>
                        <p>{% trans "Бери цікаві <span class='delighted'>книги</span> інших користувачів за ціною 1 книга = 1 <span class='delighted'>можливість</span>" %}</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <img src="{% static "img/landing/art3.png" %}">
                        <h3 class='delighted'>{% trans "Повтори" %}</h3>
                        <p>{% trans "Обмінюйся книгами та читай більше цікавої літератури заощадливо!" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Унікальні можливості</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="">
                            <div class="device">
                                <div class="screen">
                                    <img src="{% static "img/demo-screen-1.jpg" %}" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-badge text-primary"></i>
                                    <h3>Валюта</h3>
                                    <p class="text-muted">За кожну <span class="delighted">1</span> додану на сайт книгу - отримуєш <span class="delighted">3 можливості</span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Подарунок</h3>
                                    <p class="text-muted">При реєстрації автоматично отримуєш <span class="delighted">2 можливості</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-book-open text-primary"></i>
                                    <h3>Читання</h3>
                                    <p class="text-muted">За кожну <span class="delighted">1 можливість</span> можна прочитати <span class="delighted">1 книгу</span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-rocket text-primary"></i>
                                    <h3>Доставка</h3>
                                    <p class="text-muted">Відбувається <span class="delighted">Новою Поштою;</span> відправляє людина, у якої зараз <span class="delighted">книга</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="rules" class="rules bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading text-center">Правила</h2>
                    <p>
                        <ol>
                            <li>Додати книгу треба за <a class="delighted" href="{% url 'book:add' %}">посиланням;</a></li>
                            <li>Коли будь-який інший користувач захоче почитати вашу книгу, вам прийде сповіщення про це на пошту;</li>
                            <li>Протягом 1 дня, Ви повинні підтвердити, що надішлете книгу за вказаною адресою;</li>
                            <li>З цього моменту розпочнеться відлік часу на читання: <span class="delighted">15 днів</span>. В середньому, доставка триває 2-4 дні, тож у вашому розпорядженні книга буде 11-13 днів або й більше, якщо до того часу її не захоче читати хтось інший;</li>
                            <li>Коли книгу <span class="delighted">прочитано,</span> ви повинні повернути її на платформу (натиснувши відповідну кнопку на сторінці книги) або ж вам прийде відповідне повідомлення на пошту, з посиланням;</li>
                            <li>Книгу <span class="delighted">залишаєте в себе</span>, допоки інша людина не захоче її почитати;</li>
                            <li>Беручи книгу зараз, ви мусите пам'ятати про <span class="delighted">обов'язок</span> віддати її в майбутньому;</li>
                            <li>Якщо ви <span class="delighted">не повернете</span> книги у визначений час, вас буде заблоковано, а <span class="delighted">всі ваші можливості</span> назавжди анулюються!</li>
                        </ol>
                    </p>
                    <div class="text-center">
                        <a href="#books" class="btn btn-outline btn-xl page-scroll">Які є книги?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %}
    Commented to time when will be more activity!
    <section id="statistics" class="statistics bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Статистика</h2>
                        <p>Трохи цифр!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="stat">
                        <i class="fa fa-book"></i>
                        <span class="count">230</span>
                        <h3>Книг додано</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="count">456</span>
                        <h3>Користувачів зареєстровано</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        <span class="count">1230</span>
                        <h3>Разів брали читати книги</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endcomment %}

    <section id="books" class="books">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Книги</h2>
                        <p class="text-muted">Останні найцікавіші книги!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for book in books|slice:"6" %}
                    {% include "book/includes/book_card.html" with book=book %}
                {% endfor %}
            </div>
            <div class="text-center links">
                <a href="{% url 'book:list' %}" class="btn btn-filled-tertiary btn-xl" type="submit">Більше книг</a>
                <a href="{% url 'book:add' %}" class="btn btn-filled-tertiary btn-xl" type="submit">Додати свою книгу</a>
                <p>Додай свою книгу і отримай <span class="delighted">+3 можливостей</span></p>
            </div>
        </div>
    </section>

    {% block end_content %}{{ block.super }}{% endblock end_content %}
{% endblock content %}