{% extends "base_bottom.html" %}

{% load static %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>{% trans "BoCRoK — онлайн бібліотека паперових <br>Книг!" %}</h1>
                            <a href="#main" class="btn btn-outline btn-xl page-scroll">{% trans "Що це?" %}</a>
                            <hr>
                            {% block messages %}
                                {{ block.super }}
                            {% endblock messages %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <img src="{% static "img/books.png" %}" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="text-center">
                    <a href="#main" class="page-scroll scroll-icon"><span></span><span></span><span></span></a>
                </div>
            </div>
        </div>
    </header>

    <section id="main" class="main bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Ще більше книг</h2>
                    <p><span class="delighted">BoCRoK</span> це — платформа, де кожен може взяти почитати будь-яку книгу, повністю безкоштовно! Всього лише, потрібно заплатити віртуальною валютою: <span class="delighted">можливостями,</span> які можна отримати додавши свою книгу на сайт.</p>
                    <p>Просто вибери книгу, заповни форму і очікуй доставку!</p>
                    <div class="badges">
                        <a href="" class="btn btn-outline btn-xl page-scroll" data-toggle="modal" data-target="#register-login">Реєстрація</a>
                        <a href="#books" class="btn btn-outline btn-xl page-scroll">Каталог</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Унікальні можливості</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="">
                            <div class="device">
                                <div class="screen">
                                    <img src="{% static "img/demo-screen-1.jpg" %}" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-badge text-primary"></i>
                                    <h3>Валюта</h3>
                                    <p class="text-muted">За кожну <span class="delighted">1</span> додану на сайт книгу - отримуєш <span class="delighted">3 можливості</span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Подарунок</h3>
                                    <p class="text-muted">При реєстрації автоматично отримуєш <span class="delighted">2 можливості</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-book-open text-primary"></i>
                                    <h3>Читання</h3>
                                    <p class="text-muted">За кожну <span class="delighted">1 можливість</span> можна прочитати <span class="delighted">1 книгу</span></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-rocket text-primary"></i>
                                    <h3>Доставка</h3>
                                    <p class="text-muted">Відбувається <span class="delighted">Новою Поштою;</span> відправляє людина, у якої зараз <span class="delighted">книга</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% comment %}
    Commented to time when will be more activity!
    <section id="statistics" class="statistics bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Статистика</h2>
                        <p>Трохи цифр!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="stat">
                        <i class="fa fa-book"></i>
                        <span class="count">230</span>
                        <h3>Книг додано</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="count">456</span>
                        <h3>Користувачів зареєстровано</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        <span class="count">1230</span>
                        <h3>Разів брали читати книги</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endcomment %}

    <section id="books" class="books">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Книги</h2>
                        <p class="text-muted">Останні найцікавіші книги!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for book in books|slice:"6" %}
                    {% include "book/includes/book_card.html" with book=book %}
                {% endfor %}
            </div>
            <div class="text-center links">
                <a href="{% url 'book:list' %}" class="btn btn-filled-tertiary btn-xl" type="submit">Більше книг</a>
                <a href="{% url 'book:add' %}" class="btn btn-filled-tertiary btn-xl" type="submit">Додати свою книгу</a>
            </div>
        </div>
    </section>

    {% block end_content %}{{ block.super }}{% endblock end_content %}
{% endblock content %}