{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ user.get_full_name }} - {% trans "Редагувати" %} - {{ block.super }}{% endblock title %}

{% block content %}
    <section id="form-section" class="form-section bg-primary">
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <h1>{% trans "Оновити інформацію" %}</h1>
                        <div class="row">
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">{% trans "Виправте помилки нижче" %}</div>
                            {% endif %}
                            {% if form.non_field_errors %}
                                {% for err in form.non_field_errors %}
                                    <strong>{{ err }}</strong>
                                {% endfor %}
                            {% endif %}
                            <div class="col-md-6 col-sm-6">
                                {{ form.first_name.label_tag }}
                                <strong>{{ form.first_name.errors.as_text }}</strong>
                                {{ form.first_name }}

                                {{ form.last_name.label_tag }}
                                <strong>{{ form.last_name.errors.as_text }}</strong>
                                {{ form.last_name }}

                                {{ form.email.label_tag }}
                                <strong>{{ form.email.errors.as_text }}</strong>
                                {{ form.email }}

                                {{ form.about.label_tag }}
                                <strong>{{ form.about.errors.as_text }}</strong>
                                {{ form.about }}
                            </div>
                            <div class="col-md-6 col-sm-6">
                                {{ form.favourite_book.label_tag }}
                                <strong>{{ form.favourite_book.errors.as_text }}</strong>
                                {{ form.favourite_book }}

                                {{ form.favourite_author.label_tag }}
                                <strong>{{ form.favourite_author.errors.as_text }}</strong>
                                {{ form.favourite_author }}

                                {{ form.reading_preferences.label_tag }}
                                <strong>{{ form.reading_preferences.errors.as_text }}</strong>
                                {{ form.reading_preferences }}

                                {{ form.phone.label_tag }}
                                <strong>{{ form.phone.errors.as_text }}</strong>
                                {{ form.phone }}

                                {{ form.city.label_tag }}
                                <strong>{{ form.city.errors.as_text }}</strong>
                                {{ form.city }}

                                {{ form.novaposhta_number.label_tag }}
                                <strong>{{ form.novaposhta_number.errors.as_text }}</strong>
                                {{ form.novaposhta_number }}
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-filled-tertiary btn-xl">{% trans "Оновити" %}</button>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 text-center">
                        <div class="row">
                            <div id="cropper"></div>
                        </div>
                        <div class="statistics">
                            <span>{% trans "Можливостей:" %}</span>
                            <div class="opportunities"><span class="delighted">{{ user.opportunities }}</span></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </section>
{% endblock content %}


{% block js %}
    {{ form.media }}
{% endblock js %}
