{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Зареєструватись за запрошенням" %} - {{ block.super }}{% endblock title %}

{% block content %}
    <section id="form-section" class="form-section bg-primary">
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                        <h1>{% trans "Реєстрація" %}</h1>
                        <h4>Вас запросив: {{ invited_by.get_full_name }}</h4>
                        <p>Вітаємо! {{ invited_by.get_full_name|title }} запросив вас в bookgo. Прочитайте правила користування сервісом: . І швидше беріть участь в обміні!</p>
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">{% trans "Виправте помилки нижче" %}</div>
                        {% endif %}
                        {% if form.non_field_errors %}
                            {% for err in form.non_field_errors %}
                                <strong>{{ err }}</strong>
                            {% endfor %}
                        {% endif %}
                        <div>
                            {{ form.email.label_tag }}
                            <strong>{{ form.email.errors.as_text }}</strong>
                            {{ form.email }}
                        </div>
                        <div>
                            {{ form.password.label_tag }}
                            <strong>{{ form.password.errors.as_text }}</strong>
                            {{ form.password }}
                        </div>
                        <div>
                            {{ form.password2.label_tag }}
                            <strong>{{ form.password2.errors.as_text }}</strong>
                            {{ form.password2 }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-filled-tertiary btn-xl">{% trans "Зареєструватись" %}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </section>
{% endblock content %}