{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ user.get_full_name }} - {{ block.super }}{% endblock title %}

{% block content %}
    <section id="user-header" class="user-header bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 info">
                    <div class="row">
                        <h1 class="section-heading">{{ user.get_full_name }}</h1>
                        <ul>
                            {% if user.favourite_book %}
                                <li>
                                    <span>{% trans "Улюблена книга:" %}</span>
                                    <p>{{ user.favourite_book }}</p>
                                </li>
                            {% endif %}
                            {% if user.favourite_author %}
                                <li>
                                    <span>{% trans "Улюблений автор:" %}</span>
                                    <p>{{ user.favourite_author }}</p>
                                </li>
                            {% endif %}
                            {% if user.reading_preferences %}
                                <li>
                                    <span>{% trans "Люблю читати:" %}</span>
                                    <p>{{ user.reading_preferences }}</p>
                                </li>
                            {% endif %}
                            {% if user.about %}
                                <li>
                                    <span>{% trans "Про мене:" %}</span>
                                    <p>{{ user.about }}</p>
                                </li>
                            {% endif %}
                            <hr>
                            <span>
                        </ul>
                        {% if request.user == user %}
                            {% if user.city or user.novaposhta_number %}
                                <div class="personal">
                                    <h4>{% trans "Персональна інфо:" %}</h4>
                                    <ul>
                                        <li>
                                            {% trans "Місто:" %} {{ user.city }}
                                        </li>
                                        <li>
                                            {% trans "Відділення Нової Пошти:" %} {{ user.novaposhta_number }}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'users:edit' user.pk %}" class="btn btn-filled-tertiary btn-xl">
                            {% trans "Редагувати інфо" %}
                        </a>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 text-center">
                    <div class="image">
                        {% include "users/includes/user_avatar_profile_thumbnail.html" with image=user.avatar %}
                    </div>
                    <div class="statistics">
                        <span>{% trans "Можливостей:" %}</span>
                        <div class="opportunities"><span class="delighted">{{ user.opportunities }}</span></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    <section id="books" class="books">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>{% trans "Додані книги" %}</h2>
                        <p class="text-muted">Всього: {{ user.books.all.count }} штук!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for book in user.books.all %}
                    {% include "common/includes/book_card.html" with book=book %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="history" class="history bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>{{ user.get_full_name }}</h2>
                        <p class="text-muted">{% trans "прочитав книг:" %} {{ user.book_readings.all.count }}</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-lg-12">
                        {% include "book/includes/books_timeline.html" with book_readings=user.book_readings.all user_timeline=True%}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}