{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Поточний статус книг" %} - {{ user.get_full_name }} - {{ block.super }}{% endblock title %}

{% block content %}
    <header class="mini vertical-center-flex">
        <div class="header-overlay">
            <div class="container">
                <div class="row">
                    <h1>{% trans "Статуси" %}</h1>
                    <p>{% trans "Книги на читання" %}</p>
                </div>
                {% block messages %}{{ block.super }}{% endblock messages %}
            </div>
        </div>
    </header>

    {% if i_wait %}
        <section id="readings-status" class="readings-status">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>{% trans "Я очікую книгу" %}</h2>
                        <hr>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    {% for item in i_wait %}
                        <div class="item">
                            <div class="col-md-3 book">
                                <a href="{{ item.user.get_absolute_url }}">
                                    {% include "users/includes/readings_status_image.html" with image=item.user.avatar %}
                                </a>
                            </div>
                            <div class="col-md-6 reading-line">
                                <div class="pipeline">
                                    <ul>
                                        {% if item.is_confirmed %}
                                            <li class="done">
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                {% trans "Confirmed by owner" %}
                                            </li>
                                        {% else %}
                                            {% if request.user == item.book.owner %}
                                                <li>
                                                    <form action="{% url 'book:owner-confirm' item.id %}" method="POST">
                                                        <button type="submit"><span>{% trans "Confirm by owner" %}</span></button>
                                                        {% csrf_token %}
                                                    </form>
                                                </li>
                                            {% else %}
                                                <li class="disabled">
                                                    <span>{% trans "Confirmed by owner" %}</span>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                        {% if item.is_read %}
                                            <li class="done">
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                {% trans "Read" %}
                                            </li>
                                        {% else %}
                                            {% if request.user == item.user %}
                                                <li>
                                                    <form action="{% url 'book:owner-confirm' item.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit"><span>{% trans "Mark read" %}</span></button>
                                                    </form>
                                                </li>
                                            {% else %}
                                                <li class="disabled">
                                                    <span>{% trans "Marked read" %}</span>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="book-time">
                                    <progress value="3" max="14"></progress>
                                    <span>Час на читання (3/14 дні)</span>
                                </div>
                            </div>
                            <div class="col-md-3 user">
                                <a href="{{ item.book.get_absolute_url }}">
                                    {% include "users/includes/readings_status_image.html" with image=item.book.photo %}
                                </a>
                            </div>
                        </div>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
    {% endif %}
    
    {% if waiting_from_me %}
        <section id="readings-status" class="readings-status">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>{% trans "Очікують книгу від мене" %}</h2>
                        <hr>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    {% for item in waiting_from_me %}
                        <div class="item">
                            <div class="col-md-3 book">
                                <a href="{{ item.book.get_absolute_url }}">
                                    {% include "users/includes/readings_status_image.html" with image=item.book.photo %}
                                </a>
                            </div>
                            <div class="col-md-6 reading-line">
                                <div class="pipeline">
                                    <ul>
                                        <ul>
                                        {% if item.is_confirmed %}
                                            <li class="done">
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                {% trans "Confirmed by owner" %}
                                            </li>
                                        {% else %}
                                            {% if request.user == item.book.owner %}
                                                <li>
                                                    <form action="{% url 'book:owner-confirm' item.id %}" method="POST">
                                                        <button type="submit"><span>{% trans "Confirm by owner" %}</span></button>
                                                        {% csrf_token %}
                                                    </form>
                                                </li>
                                            {% else %}
                                                <li class="disabled">
                                                    <span>{% trans "Confirmed by owner" %}</span>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                        {% if item.is_read %}
                                            <li class="done">
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                                {% trans "Read" %}
                                            </li>
                                        {% else %}
                                            {% if request.user == item.user %}
                                                <li>
                                                    <form action="{% url 'book:owner-confirm' item.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit"><span>{% trans "Mark read" %}</span></button>
                                                    </form>
                                                </li>
                                            {% else %}
                                                <li class="disabled">
                                                    <span>{% trans "Read" %}</span>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                    </ul>
                                </div>
                                <div class="book-time">
                                    <progress value="3" max="14"></progress>
                                    <span>Час на читання (3/14 дні)</span>
                                </div>
                            </div>
                            <div class="col-md-3 user">
                                <a href="{{ item.user.get_absolute_url }}">
                                    {% include "users/includes/readings_status_image.html" with image=item.user.avatar %}
                                </a>
                            </div>
                        </div>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
    {% endif %}

    {% if reading %}
        <section id="readings-status" class="readings-status">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>{% trans "Я читаю" %}</h2>
                        <hr>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    {% for item in reading %}
                        <div class="item">
                            <div class="col-md-3 book">
                                <a href="{{ item.user.get_absolute_url }}">
                                    {% include "users/includes/readings_status_image.html" with image=item.user.avatar %}
                                </a>
                            </div>
                            <div class="col-md-6 reading-line">
                                <div class="pipeline">
                                    <ul>
                                        <li class="done"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Confirmed</li>
                                        <li class="done"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Sent by post</li>
                                        <li class="done"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Delivered</li>
                                        <li><a href="#"><span>Reading</span></a></li>
                                    </ul>
                                </div>
                                <div class="book-time">
                                    <progress value="3" max="14"></progress>
                                    <span>Час на читання (3/14 дні)</span>
                                </div>
                            </div>
                            <div class="col-md-3 user">
                                <a href="{{ item.book.get_absolute_url }}">
                                    {% include "users/includes/readings_status_image.html" with image=item.book.photo %}
                                </a>
                            </div>
                        </div>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
    {% endif %}
{% endblock content %}
