{% load i18n %}

<div class="item col-md-4 col-sm-6 text-center">
    <figure class="imghvr-fold-up text-center">
        {% include "book/includes/book_card_thumbnail.html" with image=book.photo %}
        <figcaption>
            <h3>{{ book.name }}</h3>
            <p>{{ book.description|truncatechars:"30" }}</p>
            <a href="{{ book.get_absolute_url }}#form" class="btn btn-outline btn-xl">{% trans "Доступно!" %}</a>
        </figcaption>
        <a href="{{ book.get_absolute_url }}"></a>
    </figure>
</div>