{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}BoCRoK{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "lib/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static "lib/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "lib/simple-line-icons/css/simple-line-icons.css" %}">
    <link rel="stylesheet" href="{% static "lib/device-mockups/device-mockups.min.css" %}">
    <link rel="stylesheet" href="{% static "lib/imagehover/imagehover.min.css" %}">

    {% block css %}{% endblock css %}
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static "css/new-age.min.css" %}" >
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">BoCRoK</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="">Main</a>
                    </li>
                    <li>
                        <a href="catalogue.html">Books</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {% include "users/includes/user_avatar_small_thumbnail.html" with image=request.user.avatar %}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="user-menu">
                                <li><a href="{{ request.user.get_absolute_url }}">{% trans "Мій аккаунт" %}</a></li>
                                <li><a href="{% url 'users:edit' user.pk %}">{% trans "Редагувати аккаунт" %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'users:logout' %}">{% trans "Вийти" %}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="#" class="btn btn-outline" data-toggle="modal" data-target="#register-login">{% trans "Ввійти" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% block content %}
        {% block messages %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endblock messages %}

    {% endblock content %}

    <footer>
        <div class="container">
            <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    {% include "common/includes/login_modal.html" %}

    <!-- jQuery -->
    <script src="{% static "lib/jquery/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="{% static "js/new-age.min.js" %}"></script>
    {% block js %}{% endblock js %}

</body>

</html>
