{% extends "base.html" %}
{% load i18n %}
{% load user_tags %}

{% block title %}{{ book.name }} - {% trans "Книга" %} - {{ block.super }}{% endblock title %}

{% block content %}
    <section id="single-book" class="single-book bg-primary text-center">
        <div class="container">
            <div class="row">
                {% block messages %}
                    {{ block.super }}
                {% endblock messages %}
                <div class="col-md-5 col-sm-12 text-center">
                    {% include "book/includes/book_full_thumbnail.html" with image=book.photo %}
                </div>
                <div class="col-md-7 col-sm-12">
                    <h2 class="section-heading">{{ book.name }}</h2>
                    <div class="row">
                        <div class="col-md-8 attributes">
                            <ul>
                                <li>
                                    <span>Автор:</span>
                                    <a href="catalogue.html">{{ book.author }}</a>
                                </li>
                                <li>
                                    <span>Жанр:</span>
                                    <a href="catalogue.html">{{ book.genre }}</a>
                                </li>
                                <li>
                                    <span>Категорія:</span>
                                    <a href="catalogue.html">{{ book.category }}</a>
                                </li>
                                <li>
                                    <span>Мова:</span>
                                    <a href="catalogue.html">{{ book.language }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            {% if book.is_available %}
                                <a href="#form" class="btn btn-outline btn-xl page-scroll">Доступно!</a>
                            {% else %}
                                <span class="btn btn-outline btn-xl">Не доступно :(</span>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="description">
                        {{ book.description }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="owner" class="owner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Власник</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="inner-container">
                <div class="contacts col-md-10">
                    {% user_social_link user=book.owner %}
                    <a href="{{ book.owner.get_absolute_url }}" class="name">{{ book.owner.get_full_name }}</a>
                    <div class="description">
                        {{ book.owner.about }}
                    </div>
                </div>
                <div class="avatar col-md-2">
                    <a href="{{ book.owner.get_absolute_url }}">
                        <img src="{{ book.owner.avatar.url }}" class="img-responsive img-circle">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="history" class="history bg-principal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Історія</h2>
                        <p class="text-muted">Хто читав {{ book.author }} "{{ book.name }}"?</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-lg-12">
                        {% include "book/includes/books_timeline.html" with book_readings=book.book_readings.all %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="form" class="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Взяти почитати</h2>
                        <p class="text-muted">
                            Швидше заповнюй цю форму! Власник книги отримає сповіщення про те, що ти хочеш почитати книгу "Людина розумна" і надішле тобі книгу за цими даними.
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
            <form action="{% url 'book:booking' %}" class="tertiary" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        {{ booking_form.full_name.label_tag }}
                        <strong>{{ booking_form.full_name.errors.as_text }}</strong>
                        {{ booking_form.full_name }}

                        {{ booking_form.phone.label_tag }}
                        <strong>{{ booking_form.phone.errors.as_text }}</strong>
                        {{ booking_form.phone }}
                    </div>
                    <div class="col-lg-6 col-md-6">
                        {{ booking_form.city.label_tag }}
                        <strong>{{ booking_form.city.errors.as_text }}</strong>
                        {{ booking_form.city }}

                        {{ booking_form.novaposhta_number.label_tag }}
                        <strong>{{ booking_form.novaposhta_number.errors.as_text }}</strong>
                        {{ booking_form.novaposhta_number }}
                    </div>
                    {{ booking_form.book }}
                </div>
                <div class="text-center vertical-center">
                    <button class="btn btn-filled-tertiary btn-xl" type="submit">Надіслати</button>
                </div>
            </form>
        </div>
    </section>
    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>Розкажи всім <i class="fa fa-share-alt"></i> про <br> таку чудову книгу!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>
{% endblock content %}