{% extends "base.html" %}
{% load i18n %}
{% load user_tags %}

{% block title %}{{ book.name }} - {% trans "Книга" %} - {{ block.super }}{% endblock title %}

{% block content %}
    <section id="single-book" class="single-book bg-primary text-center">
        <div class="container">
            <div class="row">
                {% block messages %}
                    {{ block.super }}
                {% endblock messages %}
                <div class="col-md-5 col-sm-12 text-center">
                    {% include "book/includes/book_full_thumbnail.html" with image=book.photo %}
                </div>
                <div class="col-md-7 col-sm-12">
                    <h2 class="section-heading">{{ book.name }}</h2>
                    <div class="row">
                        <div class="col-md-8 attributes">
                            <ul>
                                <li>
                                    <span>Автор:</span>
                                    <a href="catalogue.html">{{ book.author }}</a>
                                </li>
                                <li>
                                    <span>Жанр:</span>
                                    <a href="catalogue.html">{{ book.genre }}</a>
                                </li>
                                <li>
                                    <span>Категорія:</span>
                                    <a href="catalogue.html">{{ book.category }}</a>
                                </li>
                                <li>
                                    <span>Мова:</span>
                                    <a href="catalogue.html">{{ book.language }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            {% if book.available_to_take %}
                                <a href="#form" class="btn btn-outline btn-xl page-scroll">Доступно!</a>
                            {% else %}
                                <span class="btn btn-outline btn-xl">Не доступно :(</span>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="description">
                        {{ book.description }}
                    </div>
                    <hr>
                    {% with book.last_reading as reading %}
                        {% if reading.user == request.user or reading.book.current_owner == request.user %}
                            <div class="pipeline alert alert-info">
                                <i class="fa fa-exclamation" aria-hidden="true"></i>
                                <p>
                                    {% if reading.user == request.user %}
                                        {% if not reading.is_confirmed and not reading.is_read %}
                                            {% blocktrans %}
                                                Ви надіслали заявку, щоб почитати цю книгу, проте людина у якої вона зараз знаходиться, ще не підтвердила надсилання книги! Як тільки вона це зробить - ми вас повідомимо! Очікуйте сповіщення!
                                            {% endblocktrans %}    
                                        {% elif reading.is_confirmed %}
                                            {% blocktrans %}
                                                Користувач, в якого зараз ця книга підтвердив, що надішле цю книгу не пізніще як через 2 дні, або вже надіслав. Коли ви закінчите читати, поверніть книгу на сайт, натиснувши кнопку нижче. На читання книги, у вас 14 днів.
                                            {% endblocktrans %}    
                                            <form action="{% url 'book:book-read' reading.id %}" method="POST">{% csrf_token %}
                                                <button type="submit" class="btn btn-filled-tertiary btn-xl">{% trans "Прочитав!" %}</button>
                                            </form>
                                        {% elif reading.is_read %}
                                            {% blocktrans %}
                                                Ви прочитали цю книгу і повернули її на сайт. Тепер вона чекає нового читача! Книга зберігається у вас, та як тільки хтось оформить заявку на її читання, вам прийде сповіщення, і ви зобов'язані надіслати книгу за даними протягом 2 днів.
                                            {% endblocktrans %}    
                                        {% endif %}
                                    {% elif reading.book.current_owner == request.user %}
                                        {% if not reading.is_confirmed and not reading.is_read %}
                                            {% blocktrans %}
                                                Ви - власник, цієї книги. Користувач <a href="reading.user.get_absolute_url">{{ reading.user.get_full_name }}</a> хоче взяти її почитати. Натисніть кнопку, щоб підтвердити, що ви надішлете книгу Новою Поштою за <a href="">вказаними даними</a> протягом 2 днів.
                                            {% endblocktrans %}    
                                            <form action="{% url 'book:owner-confirm' reading.id %}" method="POST">{% csrf_token %}
                                                <button type="submit" class="btn btn-filled-tertiary btn-xl">{% trans "Підтверджую!" %}</button>
                                            </form>
                                        {% elif reading.is_confirmed %}
                                            {% blocktrans %}
                                                Ви підтвердили надсилання книги Новою Поштою! <a href="reading.user.get_absolute_url">{{ reading.user.get_full_name }}</a> отримав сповіщення і, можливо, вже читає книгу! Дякуємо вам!
                                            {% endblocktrans %}    
                                        {% endif %}
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>
    <section id="owner" class="owner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Власник</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="inner-container">
                <div class="contacts col-md-10">
                    {% user_social_link user=book.owner %}
                    <a href="{{ book.owner.get_absolute_url }}" class="name">{{ book.owner.get_full_name }}</a>
                    <div class="description">
                        {{ book.owner.about }}
                    </div>
                </div>
                <div class="avatar col-md-2">
                    <a href="{{ book.owner.get_absolute_url }}">
                        <img src="{{ book.owner.avatar.url }}" class="img-responsive img-circle">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="history" class="history bg-principal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Історія</h2>
                        <p class="text-muted">Хто читав {{ book.author }} "{{ book.name }}"?</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-lg-12">
                        {% include "book/includes/books_timeline.html" with book_readings=book.book_readings.all %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="form" class="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Взяти почитати</h2>
                        {% if request.user.is_authenticated %}
                            <p class="text-muted">
                                Швидше заповнюй цю форму! Власник книги отримає сповіщення про те, що ти хочеш почитати книгу "{{ book.name }}" і надішле тобі книгу за цими даними.
                            </p>
                            {% if not request.user.has_enough_to_read %}
                                <p class="text-muted form-error">
                                    На жаль, в тебе немає можливостей, щоб взяти почитати цю книгу. <a href="{% url 'book:add' %}">Додай свою книжку</a> на сайт, і отримай за це <span class="delighted">3 можливості</span>.
                                </p>
                            {% endif %}
                            {% if not book.available_to_take %}
                                <p class="text-muted form-error">
                                    На жаль, цю книгу зараз читає інша людина. Тож, треба почекати, коли вона звільниться!
                                </p>
                            {% endif %}
                        {% endif %}
                        <hr>
                    </div>
                </div>
            </div>
            {% if request.user.has_enough_to_read and book.available_to_take %}
                <form action="{% url 'book:detail' book.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% if form.non_field_errors %}
                            {% for err in form.non_field_errors %}
                                <p class="form-error">{{ err }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="col-lg-6 col-md-6">
                            {{ form.full_name.label_tag }}
                            <strong>{{ form.full_name.errors.as_text }}</strong>
                            {{ form.full_name }}

                            {{ form.phone.label_tag }}
                            <strong>{{ form.phone.errors.as_text }}</strong>
                            {{ form.phone }}
                        </div>
                        <div class="col-lg-6 col-md-6">
                            {{ form.city.label_tag }}
                            <strong>{{ form.city.errors.as_text }}</strong>
                            {{ form.city }}

                            {{ form.novaposhta_number.label_tag }}
                            <strong>{{ form.novaposhta_number.errors.as_text }}</strong>
                            {{ form.novaposhta_number }}
                        </div>
                        {{ form.book }}
                    </div>
                    <div class="text-center vertical-center">
                        <button class="btn btn-filled-tertiary btn-xl" type="submit">Надіслати</button>
                    </div>
                </form>
            {% endif %}
        </div>
    </section>
    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>Розкажи всім <i class="fa fa-share-alt"></i> про <br> таку чудову книгу!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>
{% endblock content %}

{% block js %}
    {% if anchor %}
        <script type="text/javascript">
            $('html, body').animate({
                scrollTop: $("#{{ anchor }}").offset().top
            }, 1250, 'easeInOutExpo');
        </script>
    {% endif %}
{% endblock js %}