{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Bookgo.me - обмінюємось книгами онлайн" %}</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="fullpage">
        <section id="main" class="section">
            <div class="content center">
                <img src="{% static "img/landing/logo.png" %}" class="desktop">
                <img src="{% static "img/landing/logo-small.png" %}" class="mobile">
                <p>{% trans "Онлайн платформа для обміну книгами, де<br>кожен може поділитись хорошою книгою" %}</p>

                <div class="button-wrapper">
                    <a href="#about" class="button">{% trans "Що це?" %}</a>
                </div>

            </div>
            <div class="scroll">
                <a href="#about"><span></span><span></span><span></span></a>
            </div>
        </section>

        <section id="steps" class="section">
            <div class="inner">
                <div class="head">
                    <h2 class="title center">{% trans "Як це працює?" %}</h2>
                    <p class="center slogan">{% trans "Надзвичайно просто і круто" %}</p>
                </div>
                <div class="items">
                    <div class="item">
                        <img src="{% static "img/landing/art1.png" %}">
                        <h3>{% trans "Крок 1. Додай книгу" %}</h3>
                        <p>{% trans "Отримай 3 можливості за кожну додану книгу" %}</p>
                    </div>
                    <div class="item">
                        <img src="{% static "img/landing/art2.png" %}">
                        <h3>{% trans "Крок 2. Візьми книгу" %}</h3>
                        <p>{% trans "Бери цікаві книги інших користувачів за ціною 1 книга = 1 можливість" %}</p>
                    </div>
                    <div class="item">
                        <img src="{% static "img/landing/art3.png" %}">
                        <h3>{% trans "Крок 3. Повтори" %}</h3>
                        <p>{% trans "Обмінюйся книгами та читай більше цікавої літератури заощадливо!" %}</p>
                    </div>
                </div>
                <div class="center">
                    <p class="pink">{% trans "* за кожну додану книгу до запуску - отримуєш <strong>5</strong> можливостей" %}</p>
                    <a href="#counter" class="button-grey">{% trans "Коли старт?" %}</a>
                </div>
            </div>
        </section>

        <section id="remains-counter" class="section center">
            <span>23</span>
            <p>{% trans "залишилось книг до старту проекту..." %}</p>
            <div class="button-wrapper">
                <a href="#book" class="button-green">{% trans "Додати книгу" %}</a>
            </div>
        </section>

        <section id="add-book" class="section">
            <div class="inner">
                <h3>{% trans "Додати книгу" %}</h3>
                <form action="." method="POST">
                    <div class="form-group">
                        <input type="text" name="bookname">
                        <span class="focus-border"></span>
                        <span class="label">{% trans "Назва книги" %}</span>
                    </div>
                    <div class="form-group">
                        <input type="text" name="author">
                        <span class="focus-border"></span>
                        <span class="label">{% trans "Автор" %}</span>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email">
                        <span class="focus-border"></span>
                        <span class="label">{% trans "Email" %}</span>
                    </div>
                    <div class="form-group">
                        <p>* обмін стартує коли буде додано 50 книг</p>
                        <button type="submit">{% trans "Я теж, +1" %}</button>
                    </div>
                </form>
            </div>
        </section>

        <section id="share-buttons" class="section">
            <div class="inner">
                <h3>{% trans "А розказати друзям?" %}</h3>
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="fb.com">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="instagram.com">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="twitter.com">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/jquery.fullpage.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{% static "js/jquery.fullpage.min.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                lockAnchors: false,
                anchors:['start', 'about', 'counter', 'book', 'share'],
                navigation: true,
                navigationPosition: 'right',
                css3: true,
                scrollingSpeed: 1000,
                controlArrows: true,
                verticalCentered: true,
                responsiveWidth: 1100,
            });
        });;
    </script>
</body>
</html>
