{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- HTML Meta Tags -->
    <title>{% trans "Bookgo.me - обмінюємось книгами онлайн" %}</title>
    <meta name="description" content="Bookgo.me - онлайн платформа для обміну книгами для всіх хто любить книги">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Bookgo.me - обмінюємось книгами онлайн">
    <meta itemprop="description" content="Bookgo.me - онлайн платформа для обміну книгами для всіх хто любить книги">
    <meta itemprop="image" content="{{ request.scheme }}://{{ request.get_host }}{% static "img/landing/header.jpg" %}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://bookgo.me">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Bookgo.me - обмінюємось книгами онлайн">
    <meta property="og:description" content="Bookgo.me - онлайн платформа для обміну книгами для всіх хто любить книги">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static "img/landing/header.jpg" %}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bookgo.me - обмінюємось книгами онлайн">
    <meta name="twitter:description" content="Bookgo.me - онлайн платформа для обміну книгами для всіх хто любить книги">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static "img/landing/header.jpg" %}">

    <!-- Meta Tags Generated via http://heymeta.com -->
    <meta name="viewport" content="width=device-width" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116201182-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116201182-1');
    </script>

</head>
<body>
    <div id="fullpage">
        <section id="main" class="section">
            <div class="content center">
                <img src="{% static "img/landing/logo.png" %}" class="desktop">
                <img src="{% static "img/landing/logo-small.png" %}" class="mobile">
                <p>{% trans "Онлайн платформа для обміну книгами, де<br>кожен може поділитись хорошою книгою" %}</p>

                <div class="button-wrapper">
                    <a href="#about" class="button">{% trans "Що це?" %}</a>
                </div>

            </div>
            <div class="scroll">
                <a href="#about"><span></span><span></span><span></span></a>
            </div>
        </section>

        <section id="steps" class="section">
            <div class="inner">
                <div class="head">
                    <h2 class="title center">{% trans "Як це працює?" %}</h2>
                    <p class="center slogan">{% trans "Надзвичайно просто і круто" %}</p>
                </div>
                <div class="items">
                    <div class="item">
                        <img src="{% static "img/landing/art1.png" %}">
                        <h3>{% trans "Крок 1. Додай книгу" %}</h3>
                        <p>{% trans "Отримай 3 можливості за кожну додану книгу" %}</p>
                    </div>
                    <div class="item">
                        <img src="{% static "img/landing/art2.png" %}">
                        <h3>{% trans "Крок 2. Візьми книгу" %}</h3>
                        <p>{% trans "Бери цікаві книги інших користувачів за ціною 1 книга = 1 можливість" %}</p>
                    </div>
                    <div class="item">
                        <img src="{% static "img/landing/art3.png" %}">
                        <h3>{% trans "Крок 3. Повтори" %}</h3>
                        <p>{% trans "Обмінюйся книгами та читай більше цікавої літератури заощадливо!" %}</p>
                    </div>
                </div>
                <div class="center">
                    <p class="pink">{% trans "* за кожну додану книгу до запуску - отримуєш <strong>5</strong> можливостей" %}</p>
                    <a href="#counter" class="button-grey">{% trans "Коли старт?" %}</a>
                </div>
            </div>
        </section>

        <section id="remains-counter" class="section center">
            {% if books_to_start > 0 %}
                <span>{{ books_to_start }}</span>
                <p>{% trans "залишилось книг до старту проекту..." %}</p>
                <div class="button-wrapper">
                    <a href="#book" class="button-green">{% trans "Додати книгу" %}</a>
                </div>
            {% else %}
                <span>Ура!</span>
                <p>{% trans "ми зібрали 40 книг! Стартуємо 27 березня о 24:00" %}</p>
                <div class="button-wrapper">
                    <a href="#book" class="button-green">{% trans "Додати книгу ще" %}</a>
                </div>
            {% endif %}
        </section>

        <section id="add-book" class="section">
            <div class="inner">
                <h3>{% trans "Додати книгу" %}</h3>
                <form action="{% url 'common:add-book' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ add_book_form.name }}
                        <span class="focus-border"></span>
                        <span class="label">{% trans "Назва книги" %}</span>
                    </div>
                    <div class="form-group">
                        {{ add_book_form.author }}
                        <span class="focus-border"></span>
                        <span class="label">{% trans "Автор" %}</span>
                    </div>
                    <div class="form-group">
                        {{ add_book_form.email }}
                        <span class="focus-border"></span>
                        <span class="label">{% trans "Email" %}</span>
                    </div>
                    <div class="form-group">
                        <p>* обмін стартує коли буде додано 40 книг</p>
                        <button type="submit">{% trans "Я теж, +1" %}</button>
                    </div>
                </form>
            </div>
        </section>

        <section id="share-buttons" class="section">
            <div class="inner">
                <h3>{% trans "А розказати друзям?" %}</h3>
                <div class="social-icons">
                    <ul>
                        {% with 'Обміняємось%20книгами?' as share_text %}
                            <li>
                                <a href="https://www.facebook.com/share.php?u={{ request.build_absolute_uri }}" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}&description={{ share_text }}&media=" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/intent/tweet?text={{ share_text }}&url={{ request.build_absolute_uri }}" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        {% endwith %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <div class="item">
                    <i class="fas fa-times close"></i>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/jquery.fullpage.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{% static "js/jquery.fullpage.min.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                lockAnchors: false,
                anchors:['start', 'about', 'counter', 'book', 'share'],
                navigation: true,
                navigationPosition: 'right',
                css3: true,
                scrollingSpeed: 1000,
                controlArrows: true,
                verticalCentered: true,
                responsiveWidth: 1100,
            });
        });;
        $('#add-book form .form-group input').on("input", function() {
            _this = $(this)
            if (_this.val() != "") {
                _this.attr("filled", "true")
            }else{
                _this.attr("filled", "false")
            }
        });
        $('#messages .item .close').click(function () {
            $(this).closest('.item').fadeOut()
        })
    </script>
</body>
</html>
